<h2>Editar perfil</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f| %>
  <%= devise_error_messages! %>

  <div style="float: left; width: 400px;">
    <div><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true %></div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Esperando confirmacion para: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div>Contrase&ntilde;a <small><i>(dejar en blanco si no deseas modificarlo)</i></small><br />
    <%= f.password_field :password, :autocomplete => "off" %></div>

    <div>Confirmar Contrase&ntilde;a<br />
    <%= f.password_field :password_confirmation %></div>

    <div>Contrase&ntilde;a actual <small><i>(necesitamos tu password actual para confirmar los cambios)</i></small><br />
    <%= f.password_field :current_password %></div>
  </div>
  <div style="float: left; width: 400px;">
    <%= image_tag current_user.avatar.url(:medium) %>
    <br />
    <div class="field">
      <%= f.label :avatar, "Actualizar imagen" %> :<br />
      <%= f.file_field :avatar %>
    </div>
  </div>
  <div style="clear: both;"></div>

  <div><%= f.submit "Actualizar" %></div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p>Ya no quieres continuar? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "Estas seguro?" }, :method => :delete %></p>

<%= link_to "Volver", :back %>
