<% if admin_signed_in? %>
  <div style="float:right;"><%= link_to 'Editar Revista', edit_portada_revistum_path(@portada_revistum) %>
   | <%= link_to '+ Agregar pagina', new_revista_mensual_path(:portada_revistum_id => @portada_revistum.id) %></div>
<% end %>

<p id="notice"><%= notice %></p>

<h1><%= @portada_revistum.titulo %></h1>
<p>
  <%= @portada_revistum.descripcion %>
</p>

<div id="main-slider" class="liquid-slider">
  <% i = 0; %>
  <% @portada_revistum.revista_mensual.each do |revista_mensual| %>
    <% i += 1; %>
    <div id="<%= revista_mensual.estilo %>">
      <div class="revista_prods">
        <h2 class="title">Pagina <%= i; %></h2>
        <div id="titulo">
          <%= revista_mensual.titulo %>
        </div>

        <div id="desc">
          <%= revista_mensual.descripcion %>
        </div>

        <ul>
          <% revista_mensual.productos.each do |producto| %>
            <li class="stock-item">
              <%= link_to "#{image_tag producto.imagen.url(:thumb)}<span class='icon'></span>".html_safe, producto, :class => 'preview' %>
              <%= producto.nombre %>
              <em><%= producto.descripcion %></em>
              <div class="total">Precio: <%= producto.precio %> Bs.</div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>

<script src="/assets/jquery.easing.min.js"></script>
<script src="/assets/jquery.touchSwipe.min.js"></script>
<SCRIPT TYPE="text/javascript" src='/assets/jquery.liquid-slider.min'></SCRIPT>
<link rel="stylesheet" type="text/css" href="/assets/liquid-slider.css">
<script>
  $('#main-slider').liquidSlider();
</script>
