<div id="slider">
  <% @imagen_portadas.each do |imagen_portada| %>
      <%= image_tag imagen_portada.imagen.url %>
  <% end %>
</div>
<div id="main">
  <div id="featured">
    <h4><span>Destacados</span></h4>
    <ul class="items">
      <li>
        <a href="product.html"> <%= image_tag 'leather-boots.jpg'%> <span>$19.50</span> Cheverlyn Zespax </a>
      </li>
      <li>
        <a href="product.html"> <%= image_tag 'leather-boots.jpg'%> <span>$19.50</span> Cheverlyn Zespax </a>
      </li>
      <li>
        <a href="product.html"> <%= image_tag 'leather-boots.jpg'%> <span>$19.50</span> Cheverlyn Zespax </a>
      </li>
      <li>
        <a href="product.html"> <%= image_tag 'leather-boots.jpg'%> <span>$19.50</span> Cheverlyn Zespax </a>
      </li>
    </ul>
  </div>
  <div id="sale">
    <h4><span>En Descuento</span></h4>
    <ul class="items">
      <li>
        <a href="product.html"> <%= image_tag 'boots-brown.jpg'%> <span>$8.50</span> Hukbalahap Boots </a>
      </li>
      <li>
        <a href="product.html"> <%= image_tag 'boots-brown.jpg'%> <span>$8.50</span> Hukbalahap Boots </a>
      </li>
      <li>
        <a href="product.html"> <%= image_tag 'boots-brown.jpg'%> <span>$8.50</span> Hukbalahap Boots </a>
      </li>
      <li>
        <a href="product.html"> <%= image_tag 'boots-brown.jpg'%> <span>$8.50</span> Hukbalahap Boots </a>
      </li>
    </ul>
  </div>
</div>
