<div id="adbox">
  <div id="search">
    <h3>Busqueda rapida</h3>
    <p>
      Ahora puedes buscar entre nuestros mas destacados productos!
    </p>
    <form action="index.html" method="post">
      <ul>
        <li>
          <select id="size">
            <option>Buscar por Categoria</option>
          </select>
        </li>
        <li>
          <select id="color">
            <option>Buscar por Color</option>
          </select>
        </li>
        <li>
          <select id="brand">
            <option>Buscar por Marca</option>
          </select>
        </li>
        <li>
          <select id="style">
            <option>Buscar por Estilo</option>
          </select>
        </li>
      </ul>
      <input type="submit" value="Buscar!" class="button">
    </form>
  </div>
  <%= image_tag 'home-banner.jpg'%>
</div>
<div id="main">
  <div id="featured">
    <h4><span>Destacados</span></h4>
    <ul class="items">
      <li>
        <a href="product.html"> <%= image_tag 'leather-boots.jpg'%> <span>$19.50</span> Cheverlyn Zespax </a>
      </li>
      <li>
        <a href="product.html"> <%= image_tag 'leather-boots.jpg'%> <span>$19.50</span> Cheverlyn Zespax </a>
      </li>
      <li>
        <a href="product.html"> <%= image_tag 'leather-boots.jpg'%> <span>$19.50</span> Cheverlyn Zespax </a>
      </li>
      <li>
        <a href="product.html"> <%= image_tag 'leather-boots.jpg'%> <span>$19.50</span> Cheverlyn Zespax </a>
      </li>
    </ul>
  </div>
  <div id="sale">
    <h4><span>En Descuento</span></h4>
    <ul class="items">
      <li>
        <a href="product.html"> <%= image_tag 'boots-brown.jpg'%> <span>$8.50</span> Hukbalahap Boots </a>
      </li>
      <li>
        <a href="product.html"> <%= image_tag 'boots-brown.jpg'%> <span>$8.50</span> Hukbalahap Boots </a>
      </li>
      <li>
        <a href="product.html"> <%= image_tag 'boots-brown.jpg'%> <span>$8.50</span> Hukbalahap Boots </a>
      </li>
      <li>
        <a href="product.html"> <%= image_tag 'boots-brown.jpg'%> <span>$8.50</span> Hukbalahap Boots </a>
      </li>
    </ul>
  </div>
</div>
