<%= form_for(@revista_novio) do |f| %>
  <% if @revista_novio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@revista_novio.errors.count, "error") %> prohibited this revista_novio from being saved:</h2>

      <ul>
      <% @revista_novio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Titulo Invitaci&oacute;n: <%= f.text_field :titulo %>
  </div>
  <div class="field">
    Nombre Novio: <%= f.text_field :nombre_novio %>
    &nbsp; Foto Novio: <%= f.file_field :foto_novio %>
  </div>
  <br />
  <div class="field">
    Nombre Novia: <%= f.text_field :nombre_novia %>
    &nbsp; Foto Novia: <%= f.file_field :foto_novia %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.datetime_select :fecha %>
  </div>
  <div class="field" style="float: left;">
    <%= f.label :texto_invitacion %><br />
    <%= f.text_area :texto_invitacion, :rows => 6 %>
  </div>
  <div class="field" style="float: left; margin-left: 20px;">
    <%= f.label :direccion %><br />
    <%= f.text_area :direccion, :rows => 6 %>
  </div>

  <div class="clear"></div>

  <div class="form_row">
    <label for="estilo">Estilo:</label>
    <br>
    <div class="estilo_item">
      <%= f.radio_button :estilo, 'pink-heart' %> Pink Heart
      <%= image_tag 'bgs/pink-heart.jpg'%>
    </div>
    <div class="estilo_item">
      <%= f.radio_button :estilo, 'cute-love' %> Cute Love
      <%= image_tag 'bgs/cute-love.jpg'%>
    </div>
    <div class="estilo_item">
      <%= f.radio_button :estilo, 'autentico' %> Autentico
      <%= image_tag 'bgs/autentico.jpg'%>
    </div>
    <div class="estilo_item">
      <%= f.radio_button :estilo, 'minimal' %> Minimal
      <%= image_tag 'bgs/minimal.png'%>
    </div>
  </div>

  <div class="clear"></div>
  <hr />

  <h2>Lista de Regalos</h2>
  <div id="stocks">
    <ul>
      <%
      i = 0
      for producto in Producto.find(:all)
        %>
        <li class="stock-item">
          <%= check_box_tag "revista_novio[producto_ids][]", producto.id, @revista_novio.productos.include?(producto) %> <%= producto.nombre %>
          <%= link_to "#{image_tag producto.imagen.url(:thumb)}<span class='icon'></span>".html_safe, producto, :class => 'preview' %>
          <em><%= producto.descripcion %></em>
        </li>
        <%
        i += 1;
        concat raw '<div class="clear"></div>' if (i == 4)
      end 
      %>
    </ul>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
