<link href='http://fonts.googleapis.com/css?family=Engagement' rel='stylesheet' type='text/css'>

<p id="notice"><%= notice %></p>

<div id="pink-heart">
  <div id="titulo">
    Mi Boda
  </div>
  <div class="novio">
    <div class="foto">
      <%= image_tag @revista_novio.foto_novio.url(:thumb) %>
    </div>
    <div class="nombre">
      <%= @revista_novio.nombre_novio %>
    </div>
  </div>

  <div class="novio novia">
    <div class="foto">
      <%= image_tag @revista_novio.foto_novia.url(:thumb) %>
    </div>
    <div class="nombre">
      <%= @revista_novio.nombre_novia %>
    </div>
  </div>

  <div id="textos">
    <div id="texto_invitacion">
      <%= @revista_novio.texto_invitacion %>
    </div>

    <div id="fecha">
      <span class="title">Fecha:</span>
      <%= @revista_novio.fecha %>
    </div>

    <div id="direccion">
      <span class="title">Direccion:</span>
      <%= @revista_novio.direccion %>
    </div>
  </div>

  <div id="stocks">

    <ul>
      <% @revista_novio.productos.each do |producto| %>
      <li class="stock-item">
        <%= link_to "#{image_tag producto.imagen.url(:thumb)}<span class='icon'></span>".html_safe, producto, :class => 'preview' %>
        <%= producto.nombre %>
        <em><%= producto.descripcion %></em>
        <div class="total">Total: <%= producto.precio %> Bs.</div>
        <div class="total">
          Regalado: 
          <%= CompraRegaloNovio.sum(:monto, :conditions => "revista_novio_id = '#{@revista_novio.id}' AND producto_id = '#{producto.id}'") %> Bs.</div>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<% if current_user.id == @revista_novio.user_id %>
  <%= link_to 'Editar', edit_revista_novio_path(@revista_novio) %>
<% end %>
