<p id="notice"><%= notice %></p>

<p>
  <b>Nombre novio:</b>
  <%= @revista_novio.nombre_novio %>
  <%= image_tag @revista_novio.foto_novio.url(:medium) %>
</p>

<p>
  <b>Nombre novia:</b>
  <%= @revista_novio.nombre_novia %>
  <%= image_tag @revista_novio.foto_novia.url(:medium) %>
</p>

<p>
  <b>Fecha:</b>
  <%= @revista_novio.fecha %>
</p>

<p>
  <b>Texto invitacion:</b>
  <%= @revista_novio.texto_invitacion %>
</p>

<p>
  <b>Direccion:</b>
  <%= @revista_novio.direccion %>
</p>

<div id="stocks">
  <ul>
    <% @revista_novio.productos.each do |producto| %>
    <li class="stock-item">
      <%= link_to "#{image_tag producto.imagen.url(:thumb)}<span class='icon'></span>".html_safe, producto, :class => 'preview' %>
      <%= producto.nombre %>
      <span><%= producto.stock %> unidades</span>
      <em><%= producto.descripcion %></em>
      <a href="checkout.php" class="btn-cart">+ Premios</a>
      <a href="checkout.php" class="btn-wish">+ Novios</a>
    </li>
    <% end %>
  </ul>
</div>

<%= link_to 'Editar', edit_revista_novio_path(@revista_novio) %>
