<link href='http://fonts.googleapis.com/css?family=Engagement' rel='stylesheet' type='text/css'>

<p id="notice"><%= notice %></p>

<% if current_user && current_user.id == @revista_novio.user_id %>
  <%= link_to 'Editar Revista', edit_revista_novio_path(@revista_novio) %> |
  <span onclick="mostrar_envio_mail()" style="text-decoration: underline; cursor: pointer;">Enviar Invitaciones</span>
<% end %>

<div id="<%= @revista_novio.estilo %>">
  <div id="titulo">
    <%= @revista_novio.titulo %>
  </div>
  <div class="novio">
    <div class="foto">
      <%= image_tag @revista_novio.foto_novio.url(:thumb) %>
    </div>
    <div class="nombre">
      <%= @revista_novio.nombre_novio %>
    </div>
  </div>

  <div class="novio novia">
    <div class="foto">
      <%= image_tag @revista_novio.foto_novia.url(:thumb) %>
    </div>
    <div class="nombre">
      <%= @revista_novio.nombre_novia %>
    </div>
  </div>

  <div id="textos">
    <div id="texto_invitacion">
      <%= @revista_novio.texto_invitacion %>
    </div>

    <div id="fecha">
      <span class="title">Fecha:</span>
      <%= @revista_novio.fecha %>
    </div>

    <div id="direccion">
      <span class="title">Direccion:</span>
      <%= @revista_novio.direccion %>
    </div>
  </div>

  <div id="stocks">

    <ul>
      <% @revista_novio.productos.each do |producto| %>
      <li class="stock-item">
        <%= link_to "#{image_tag producto.imagen.url(:thumb)}<span class='icon'></span>".html_safe, producto, :class => 'preview' %>
        <%= producto.nombre %>
        <em><%= producto.descripcion %></em>
        <div class="total">Total: <%= producto.precio %> Bs.</div>
        <div class="total">
          Regalado: 
          <%= CompraRegaloNovio.sum(:monto, :conditions => "revista_novio_id = '#{@revista_novio.id}' AND producto_id = '#{producto.id}'") %> Bs.</div>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div id="mail_invitation">
  <div id="close_btn" onclick="$('#mail_invitation').hide();"></div>
  Mails: &nbsp; <input type="text" value="" size="30"/><br />
  Asunto: <input type="text" value="<%= @revista_novio.titulo %>" /><br />
  Mensaje: <br /><textarea rows=6 cols=50><%= @revista_novio.texto_invitacion %></textarea><br />
  <input type="button" value="Enviar" />
</div>

<script type="text/javascript">
function mostrar_envio_mail() {
    $('#mail_invitation').center();
    $("#mail_invitation").show();
}
/**
 * Oscurece la pagina entera
 */
function oscurecer_pagina() {
    $('body').append('<div id="screen_black" style="position: absolute; left: 0; top: 0; background: #000;"></div>');
    $('#screen_black').css({ opacity: 0.7, 'width':$(document).width(),'height':$(document).height()});
    $('body').css({'overflow':'hidden'});
}
/**
 * NO Oscurece la pagina entera
 */
function no_oscurecer_pagina() {
    $('#screen_black').remove();
    $('body').css({'overflow':'visible'});
}

jQuery.fn.center = function () {
    this.css("position","absolute");
    this.css("top", Math.max(0, (($(window).height() - this.outerHeight()) / 2) + 
                                                $(window).scrollTop()) + "px");
    this.css("left", Math.max(0, (($(window).width() - this.outerWidth()) / 2) + 
                                                $(window).scrollLeft()) + "px");
    return this;
}
</script>
