<style type="text/css">
  th, td { border: 1px solid #CCC; }
</style>
<h1>Clientes</h1>

<table>
  <tr>
    <th></th>
    <th>Nombre</th>
    <th>Username</th>
    <th>Mail</th>
    <th></th>
  </tr>

<% @users.each do |user| %>

  <% if user.username[0, 5] == 'des__' 
      next
    end %>
  
  <tr>
    <td><%= image_tag user.avatar.url(:thumb) %></td>
    <td><%= user.nombre %> <%= user.apellido %></td>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <th><%= link_to 'Desactivar', user_deactivate_path(user), :data => { :confirm => "Estas seguro?" } %></th>
  </tr>
<% end %>
</table>