<%= form_for @producto, :html => { :multipart => true } do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :imagen %>:
    <%= f.file_field :imagen %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :codigo %><br />
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :stock %><br />
    <%= f.number_field :stock %>
  </div>
  <div class="field">
    <%= f.label :categoria_id %>: 
    <%= f.select(:categoria_id, Categorium.all.collect {|p| [ p.nombre, p.id ] }, :prompt => 'Seleccione') %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
