<div class="alignright">
  <%= link_to 'Nuevo Producto', new_producto_path %> |
  <%= link_to 'Nueva Categoria', new_categorium_path %>
</div>
<h1>Productos</h1>

<div id="stocks">
  <ul>
    <%
    i = 0
    @productos.each do |producto|
      %>
      <li class="stock-item">
        <%= link_to "#{image_tag producto.imagen.url(:thumb)}<span class='icon'></span>".html_safe, producto, :class => 'preview' %>
        <%= producto.nombre %>
        <span><%= producto.stock %> unidades</span>
        <em><%= producto.descripcion %></em>
        <a href="checkout.php" class="btn-cart">+ Premios</a>
        <a href="checkout.php" class="btn-wish">+ Novios</a>
      </li>
      <%
      i += 1;
      concat raw '<div class="clear"></div>' if (i == 4)
    end 
    %>
  </ul>
</div>