<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @producto.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @producto.descripcion %>
</p>

<p>
  <b>Codigo:</b>
  <%= @producto.codigo %>
</p>

<p>
  <b>Stock:</b>
  <%= @producto.stock %>
</p>

<p>
  <b>Categoria:</b>
  <%= @producto.categoria %>
</p>


<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
