<p id="notice"><%= notice %></p>

<div style="float: left; margin-right: 30px;">
  <%= image_tag @producto.imagen.url(:medium) %>
</div>

<div style="float: left;">
  <p>
    <b>Nombre:</b>
    <%= @producto.nombre %>
  </p>

  <p>
    <b>Descripcion:</b>
    <%= @producto.descripcion %>
  </p>

  <p>
    <b>Codigo:</b>
    <%= @producto.codigo %>
  </p>

  <p>
    <b>Stock:</b>
    <%= @producto.stock %>
  </p>

  <p>
    <b>Categoria:</b>
    <%= @producto.categorium.nombre %>
  </p>
</div>

<div class="clear"></div>


<%= link_to 'Editar', edit_producto_path(@producto) %> |
<%= link_to 'Volver', productos_path %>
