<% if admin_signed_in? %>
  <div style="float:right;"><%= link_to 'Nueva Revista', new_revista_mensual_path %></div>
<% end %>

<h1>Lista de Revistas</h1>
<hr />

<% @revista_mensuals.each do |revista_mensual| %>
  <div style="font-size: 19px; font-weight: bold"><%= revista_mensual.titulo %></div>
  <div style="color:#777;"><%= revista_mensual.temporada %></div>
  <p><%= revista_mensual.descripcion %></p>
  <%= link_to 'Ver Revista completa', revista_mensual %>
  <% if admin_signed_in? %>
     | 
    <%= link_to 'Editar', edit_revista_mensual_path(revista_mensual) %> | 
    <%= link_to 'Eliminar', revista_mensual, method: :delete, data: { confirm: 'Estas seguro?' } %>
  <% end %>
  <hr />
<% end %>
