<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
  <meta charset="UTF-8">
  <title>HomeCenter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="background">
    <div id="page">
      <div id="header">
        <div id="logo">
          <a href="index.html"> <%= image_tag 'logo.png'%></a>
        </div>
        <div id="navigation">
          <ul id="primary">
            <li>
              <%= link_to "Inicio", home_index_path %>
            </li>
            <li>
              <%= link_to "Productos", productos_path %>
            </li>
            <li>
              <%= link_to "Novios", revista_novios_path %>
            </li>
            <li>
              <a href="womens.html">Club Center</a>
            </li>
            <li>
              <a href="faq.html">Revista</a>
            </li>
            <li>
              <%= link_to "Reservas", reserva_regalo_novios_path %>
            </li>
          </ul>
          <ul id="secondary">
            <%
            if user_signed_in?
            %>
              <li style="font-size: 15px; margin-top: 3px;">
                <%= image_tag current_user.avatar.url(:mini) %>
                <%= current_user.nombre + ' ' + current_user.apellido %>
                <span>(<%= link_to "Salir", destroy_user_session_path, :method => :delete %>)</span>
              </li>
              <li>
                <%= link_to image_tag('gear.png', :size => "18x18", :border => "0"), edit_user_registration_path %>
              </li>
            <%
            else
            %>
            <li>
              <%= link_to "Iniciar sesion", new_user_session_path %> | 
              <%= link_to "Registrarse", new_user_registration_path %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div id="contents">
        <%= yield %>
      </div>
      <div id="footer">
        <div class="background">
          <div id="connect">
            <h5>Siguenos!</h5>
            <ul>
              <li>
                <a href="#" target="_blank" class="facebook"></a>
              </li>
              <li>
                <a href="#" target="_blank" class="twitter"></a>
              </li>
              <li>
                <a href="#" target="_blank" class="linkin"></a>
              </li>
            </ul>
          </div>
          <ul class="navigation">
            <li>
              <h5>Menu</h5>
              <a href="mens.html">Inicio</a> <a href="mens.html">Productos</a> <a href="mens.html">Novios</a> <a href="mens.html">ClubCenter</a>
            </li>
          </ul>
          <p class="footnote">
            &copy; Copyirght &copy; 2013. <%= link_to "Home Center", home_index_path %> Todos los derechos reservados.
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>