<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HomeCenter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="background">
    <div id="page">
      <div id="header">
        <%
        if admin_signed_in?
        %>
          <div id="admin_login">
            <%= current_admin.nombre + ' ' + current_admin.apellido %>
            (<%= current_admin.rol %>)
            <span><%= link_to "Salir", destroy_admin_session_path, :method => :delete %></span>
          </div>
        <% end %>
        <div id="logo">
          <a href="index.html"> <%= image_tag 'logo.png'%></a>
        </div>
        <div id="navigation">
          <ul id="primary">
            <li>
              <%= link_to "Inicio", home_index_path %>
            </li>
            <li>
              <%= link_to "Nosotros", home_about_path %>
            </li>
            <li>
              <%= link_to "Novios", revista_novios_path %>
            </li>
            <li>
              <%= link_to "Productos", productos_path %>
              <ul class="submenu">
                <%
                categoria = Categorium.all
                categoria.each do |categorium|
                  %>
                  <li><%= link_to categorium.nombre, productos_path(:cat => categorium.id) %></li>
                  <%
                end
                %>
              </ul>
            </li>
            <li><%= link_to "Revistas", portada_revista_path %></li>
            <li><%= link_to "Panfletos", panfletos_path %></li>
            <%
            if admin_signed_in?
            %>
              <li>
                <%= link_to "Admin", config_index_path %>
              </li>
            <% end %>
          </ul>
          <ul id="secondary">
            <%
            if user_signed_in?
            %>
              <li style="font-size: 15px; margin-top: 3px;">
                <%= image_tag current_user.avatar.url(:mini) %>
                <%= current_user.nombre + ' ' + current_user.apellido %>
                <span>(<%= link_to "Salir", destroy_user_session_path, :method => :delete %>)</span>
              </li>
              <li>
                <%= link_to image_tag('gear.png', :size => "18x18", :border => "0"), edit_user_registration_path %>
              </li>
            <%
            else
            %>
            <li>
              <%= link_to "Iniciar sesion", new_user_session_path %> | 
              <%= link_to "Registrarse", new_user_registration_path %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div id="contents">
        <%= yield %>
      </div>
      <div id="footer">
        <div class="background">
          <div id="connect">
            <h5>Siguenos!</h5>
            <ul>
              <li>
                <a href="http://facebook.com/homecenterfacil" target="_blank" class="facebook"></a>
              </li>
            </ul>
          </div>
          <ul class="navigation" style="float: left">
            <li>
              <h5>Menu</h5>
              <%= link_to "Admin", new_admin_session_path %> 
            </li>
          </ul>
          <div style="display: inline-block; color: #616b84; float: left">
            <div>
              Av. Uyuni Nº 1171 casi Puente Muyurina. <br />
              (+591) 4-4222679 <br />
              PO Box 2485 <br />
              Cochabamba – Bolivia <br />
            </div>
          </div>
          </ul>
          <div style="clear: both;">&nbsp;</div>
          <p class="footnote">
            &copy; Copyirght &copy; 2014. Home Center. Todos los derechos reservados.
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>